body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #575757;
    background-color: #f1f1f1;
}
main {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    border: 20px solid hsla(103, 44%, 47%, 1);
}
a {
    color: #8fc8cf;
    cursor: pointer;
    text-decoration: underline;
}
a:active {
    color: #1e6bac;
}
